body {
    font-family: var(--font-body);
    color: var(--black);
    background: var(--white);
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
}

main {
    overflow: hidden;
}

section {
    position: relative;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
    font-weight: 400;
}

h1,
h2 {
    font-family: var(--font-title);
    text-transform: uppercase;
}

p {
    color: #333;
}

input,
select,
textarea {
    width: 100%;
    padding: 18px 22px;
    border-radius: 14px;
    background: #fff;
    border: 2px solid transparent;
    transition: var(--transition);
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--green);
}

::placeholder {
    color: #666;
}

img {
    user-select: none;
}
