*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    /* min-height:100vh; */
    width: 100vw;
    /* overflow: hidden; */
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

button,
input,
textarea,
select{
    border:none;
    outline:none;
    font:inherit;
}

ul{
    list-style:none;
}