*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    font-family:Arial, Helvetica, sans-serif;
}

/* .hero{
    position:relative;
    min-height:100vh;
    overflow:hidden;

} */

.logo{
    background-image: url('../assets/images/logo.png');
    background-size: contain;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
}

.hero-content{
    background:
        url("../assets/images/topo.png") center center/contain no-repeat;
    padding:50px 60px;
    min-height:130vh;
}


.hero h1{
    display:flex;
    flex-direction:column;
    font-weight:900;
    text-transform:uppercase;
    line-height:.82;
    font-size:50px;
    margin-top:50px;
}

.orange{
    color:#F16C47;
}

.pink{
    color:#F87CCB;
}

.subtitle{
    margin-top:30px;
    color:#FFE53D;
    font-size:23px;
    line-height:1.05;
    font-weight:900;
    text-transform:uppercase;
}

.cta{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    margin-top:35px;
    padding:10px 34px;
    background:#49C9A7;
    color:#111;
    text-decoration:none;
    font-weight:900;
    border-radius:40px;
    transition:.3s;
}

.cta:hover{
    transform:translateY(-3px);
}

.waves {
    background-image: url('../assets/images/montanhas-e-barco.png');
    width: 100vw;
    height: 252px;
    position: relative;
    top: -100px;
    background-size: 100vw 45vh;
    background-repeat: no-repeat;
}

.wave{
    position:absolute;
    width:120%;
    left:-10%;
    border-radius:50%;
}

.wave-orange{
    height:170px;
    background:#D85A3C;
    bottom:105px;
    clip-path:polygon(
        0 42%,
        7% 48%,
        16% 36%,
        25% 50%,
        36% 38%,
        48% 58%,
        59% 40%,
        71% 55%,
        82% 36%,
        100% 52%,
        100% 100%,
        0 100%
    );
}

.wave-pink{
    height:170px;
    background:#F47BCB;
    bottom:0;
    clip-path:polygon(
        0 55%,
        12% 44%,
        23% 60%,
        34% 38%,
        46% 54%,
        60% 33%,
        73% 52%,
        86% 39%,
        100% 24%,
        100% 100%,
        0 100%
    );
}

.wave.second{
    transform:scaleX(-1);
    opacity:.95;
}

.boat-placeholder{
    position:absolute;
    right:10%;
    bottom:15px;
    z-index:3;
    font-size:6rem;
    color:#FFE53D;
}

@media (max-width:768px){

    .hero-content{
        padding:40px 28px;
    }

    .hero h1{
        font-size:40px;
    }

    .subtitle{
        font-size:18px;
    }

    .logo-placeholder{
        width:90px;
        height:90px;
    }

    .waves{
        height:210px;
    }

}







.community{
    background:#000;
    padding-bottom:110px;
}

.community-container{
    width:min(1180px,90%);
    margin:0 auto;
    display:grid;
    grid-template-columns:1.55fr 1fr;
    gap:90px;
    align-items:center;
}

.community-video{
    position:relative;
    width:100%;
    aspect-ratio:16/10;
    overflow:hidden;
    background:#111;
    align-self: start;
}

.community-video iframe{
    width:100%;
    height:100%;
    border:0;
    display:block;
}

.community-content{
    max-width: 80%;
}

.community-content h2{
    color:#F8D533;
    font-size:20px;
    font-weight:900;
    text-transform:uppercase;
    line-height:1;
    margin-bottom:48px;
}

.community-list{
    display:flex;
    flex-direction:column;
    gap:34px;
}

.community-item{
    display:flex;
    align-items:flex-start;
    gap:22px;
}

.community-item .icon{
    color:#F578C8;
    font-size:2.8rem;
    line-height:1;
    flex-shrink:0;
}

.community-item p{
    color:#fff;
    font-size:16px;
    line-height:1.25;
    font-weight:800;
}

.community-btn {
    margin-top: 58px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #F578C8;
    border-radius: 999px;
    text-decoration: none;
    color: #111;
    font-size: 20px;
    font-weight: 900;
    transition: .25s;
}

.community-btn:hover{
    transform:translateY(-3px);
}

@media (max-width:1000px){

    .community{
        padding:70px 0;
    }

    .community-container{
        grid-template-columns:1fr;
        gap:60px;
    }

    .community-content h2{
        /* font-size:2.6rem; */
    }

    .community-item p{
        font-size:1.35rem;
    }

    .community-btn{
        width:100%;
        font-size:1.5rem;
    }

}







.courses{
    background:#000;
}

.container{
    width:min(1180px,90%);
    margin:0 auto;
}

.section-title{
    color:#f37ecb;
    font-size:40px;
    font-weight:900;
    text-transform:uppercase;
    line-height:1;
    margin-bottom:70px;
}

.courses-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:28px;
}

.course-card{
    display:flex;
    flex-direction:column;
}

.card-img-and-label-wrapper{
    max-height: 450px;
}

.course-image{
    aspect-ratio:1.2;
    overflow:hidden;
}

.course-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.course-label{
    padding:18px 20px;
    font-size:2.2rem;
    font-weight:900;
    text-transform:lowercase;
    color:#111;
}

.course-label.orange{
    background:#d85c3c;
}

.course-label.pink{
    background:#ee7cc8;
}

.course-label.yellow{
    background:#f8df4b;
}

.course-content{
    padding:32px 18px 0;
    display:flex;
    flex-direction:column;
    flex:1;
}

.course-content h3{
    font-size:18px;
    line-height:1.2;
    margin-bottom:18px;
    font-weight:900;
}

.course-card:nth-child(1) h3{
    color:#d85c3c;
}

.course-card:nth-child(2) h3{
    color:#ee7cc8;
}

.course-card:nth-child(3) h3{
    color:#f8df4b;
}

.course-content p{
    color:#efefef;
    font-size:1.05rem;
    line-height:1.7;
    margin-bottom:38px;
}

.btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:16px 34px;
    border-radius:40px;
    text-decoration:none;
    color:#111;
    font-size:1.15rem;
    font-weight:900;
    text-transform:lowercase;
    width:max-content;
    transition:.25s;
}

.btn:hover{
    transform:translateY(-3px);
}

.btn.orange{
    background:#d85c3c;
}

.btn.pink{
    background:#ee7cc8;
}

.btn.yellow{
    background:#f8df4b;
}

@media (max-width:1024px){

    .courses-grid{
        grid-template-columns:1fr;
        gap:60px;
    }

    .section-title{
        font-size:3.4rem;
    }

}