:root{

--black:#000;
--white:#fff;

--pink:#F277C5;
--orange:#D75A3F;
--yellow:#F1DA42;
--green:#49C18E;

--gray:#999;

--radius:18px;

--container:1200px;

--font-title:'Anton',sans-serif;
--font-body:'Montserrat',sans-serif;

--transition:.3s;

}